/* Cores */
:root {
    --primary: #612F74;
    --bg: #F2F2F2;
}

/* Tipografia */
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('backg.jpg');
    background-repeat: repeat-y;
    /* ou repeat-x ou repeat-y, dependendo de como deseja que a textura se repita */
    animation: deslocar 20s linear infinite;
    /* 20s é a duração da animação, você pode ajustar conforme desejado */
}

@keyframes deslocar {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

.gg-arrow-up-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs, 1));
    border-radius: 20px;
    margin: auto;
    /* Adiciona esta linha para centralizar vertical e horizontalmente */
    text-align: center;
    /* Centraliza o conteúdo horizontalmente */
    line-height: 22px;
    /* Centraliza o conteúdo verticalmente */
    overflow: hidden;
    /* Garante que o ícone esteja dentro do limite do botão */
}

.gg-arrow-up-o::after,
.gg-arrow-up-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: right;
    top: 4px;
}

.gg-arrow-up-o::after {
    width: 13px;
    height: 13px;
    border-top: 4px solid;
    border-left: 4px solid;
    transform: rotate(45deg);
    left: 4px;
    /* Ajusta a posição horizontal da seta */
    top: 4px;
    /* Ajusta a posição vertical da seta */
}

/* Estilo para o botão de voltar para cima */
#scrollTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: #262629;
    color: #9b59b6;
    border-radius: 40%;
    padding: 25px;
    transition: background-color 0.3s;
}

#scrollTop:hover {
    background-color: #9b59b6;
    color: #fff;
}

/* Cabeçalho */

header {
    background-color: #2b2b2b;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1.5rem;
    border-radius: 5px;
    border: 2px solid #9b59b6;
    box-shadow: 0 -4px 8px rgba(161, 154, 154, 0.1);
}

header h1 {
    position: absolute;
    left: 20px;
    /* afasta da borda */
    top: 20px;

}

header h1 span {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    background: #262629;
    color: #9b59b6;
    border: 2px solid #9b59b6;
    box-shadow: 0 -4px 8px rgba(161, 154, 154, 0.1);
}

.menu__item {
    border-radius: 40px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(219, 0, 164, 0.1);
    transition: 0.3s transform;
}

.menu__item:hover {
    transform: translateY(-5px);
}

.btn {
    padding: 12px 24px;
    border-radius: 3px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: 0 -4px 8px rgba(161, 154, 154, 0.1);
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    box-shadow: 0 -4px 8px rgba(161, 154, 154, 0.1);
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    box-shadow: 0 -4px 8px rgba(161, 154, 154, 0.1);
}



.btn i {
    margin-right: 8px;
}



/* Conteúdo */
section {
    color: #ffffff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #9b59b6;
    background: #2b2b2b;
    margin: 1rem auto;
    max-width: 800px;
    box-shadow: 0 -4px 8px rgba(161, 154, 154, 0.1);
}

/* Caixas de serviço */

.service-box {

    display: inline-block;
    width: 40%;
    min-width: 500px;
    margin: 1%;
    border: 2px solid #9b59b6;
    border-color: #9b59b6;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 -4px 8px rgba(161, 154, 154, 0.1);
}

.service-box:hover {
    background-color: #9b59b6;
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 0 -4px 8px rgba(161, 154, 154, 0.1);
}

.service-box img {
    width: 70%;
    border-radius: 10%;
    margin-bottom: 2rem;
    box-shadow: 0 -4px 8px rgba(161, 154, 154, 0.1);
}

/* Caixas de projeto */

.project-box {
    display: inline-block;
    width: 30%;
    min-width: 300px;
    margin: 1%;
    border: 2px solid #9b59b6;
    border-color: #9b59b6;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 -4px 8px rgba(161, 154, 154, 0.1);
}

.project-box:hover {
    transform: translateY(-5px);
    background-color: #9b59b6;
    color: #fff;
    box-shadow: 0 -4px 8px rgba(161, 154, 154, 0.1);
}

.project-box img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}


/* Botão */

.btn {
    display: inline-block;
    background-color: #9b59b6;
    color: #fff;
    border: 2px solid #ac62c9;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0 -4px 8px rgba(161, 154, 154, 0.1);
}

.btn:hover {
    background-color: #2c2c2c;
}

/* Rodapé */
footer {
    border-radius: 10px 10px 0 0;
    background-color: #161616;
    color: #fff;
    padding: 2rem;
    box-shadow: 0 -4px 8px rgba(161, 154, 154, 0.1);
    border: 2px solid #222222;
}

footer a {
    color: #161616;
}

footer a:hover {
    opacity: .8;
}